--extra-index-url https://download.pytorch.org/whl/cu130
fastapi
uvicorn
python-multipart
rembg
segment-anything
opencv-python
torch
torchvision
numpy
pillow
python-dotenv
httpx
rembg[gpu]
onnxruntime-gpu
ultralytics
numpy